body {
  height: 95vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: darkolivegreen;
}

header {
  margin: 0;
  padding: 0;
  background-color: khaki;
  color: white;
  height: auto;
}

header > h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

main {
  margin: 0;
  padding: 0;
  height: 80vh;
}

footer {
  margin: 0;
  padding: 0;
  background-color: khaki;
  color: white;
}

.header-bar {
  border: solid black 2px;
}

.footer-bar {
  border: solid black 2px;
}

.horizontal {
  height: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.hamburger {
  width: 60px;
  height: 60px;
  background-color: orange;
  background-image: url("/assets/download.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
}
