body {
  height: 95vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(71, 96, 71, 0.5);
  display: flex;
}

.horizontal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-image: url("https://images.unsplash.com/photo-1507832321772-e86cc0452e9c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: 800px 400px;
}

.horizontal-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  border-top: solid 2px black;
  background-image: url("https://images.unsplash.com/photo-1507832321772-e86cc0452e9c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: 800px 400px;
}

.hamburger {
  width: 60px;
  height: 100%;
  background-image: url("/assets/download.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.hamburger-dropdown {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  padding: 0 5px;
  height: calc(100vh - 60px);
  z-index: 1000;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  border-right: solid 2px black;
  background-image: url("https://images.unsplash.com/photo-1509192979022-927d6dcf72fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}

.hamburger-dropdown ul {
  text-align: left;
  margin: 0;
  padding-top: 10px;
  padding-left: 0;
  visibility: hidden;
}

.hamburger-dropdown ul li {
  list-style: none;
  line-height: 40px;
  font-family: "Kalam", cursive;
  font-size: 40px;
}

.hamburger-dropdown ul li span,
.hamburger-dropdown ul li a {
  text-decoration: none;
  display: block;
  height: 40px;
  padding: 0 10px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.7s ease-in-out;
}

.hamburger-dropdown ul li span {
  font-size: 18px;
  text-decoration: underline white;
  color: white;
}

/* hover listeners  */
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-dropdown .hamburger-dropdown ul li a:hover {
  background-color: beige;
}

/* seprating both bars */

.horizontal ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.horizontal ul li {
  list-style: none;
  line-height: 30px;
  text-transform: uppercase;
  color: orange;
  font-family: "Kalam", cursive;
  font-size: 40px;
}

/* section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.picture-box {
  width: 600px;
  height: 400px;
  margin: auto;
  background: white;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.5);
}

.style-box-bottom-left {
  width: 60px;
  height: 60px;
  background: black;
}
.style-box-bottom-right {
  width: 60px;
  height: 60px;
  background: black;
}
.style-box-top-right {
  width: 60px;
  height: 60px;
  background: black;
}

.right-side-bar {
  border: solid black 2px;
  width: 60px;
  box-sizing: border-box;
  background-image: url("https://images.unsplash.com/photo-1509192979022-927d6dcf72fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}
